<h2> <%= @restaurant.name %> </h2>
<hr>
<ul>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.category %></li>
<li><%= @restaurant.phone_number %></li>
</ul>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<br>
<%= link_to "Back to all restaurants", restaurants_path %>